# Editors temp files
*~
.*.swp
.*.swo
*.autosave

# IDEs temp files
*.user
fig*.config
fig*.creator
fig*.files
fig*.includes
FIG*.config
FIG*.creator
FIG*.files
FIG*.includes

# Build
fig
test
bin/
*_bin/
bin_*/
tests_bin*
CMakeFiles*

# Simulation/Cluster logs
*.out
*.err
*.log
trace.*
