# Editors temp files
*~
.*.swp
.*.swo
*.autosave

# IDEs config files
*.cbp
*.user
*.config
*.creator
*.files
*.includes
*.cflags
*.cxxflags

# Build
fig
test
bin
*_bin/
bin_*/
qtbin*/
tests_bin*
CMakeFiles*
doc.html

# Simulation/Cluster logs
*.out
*.err
*.log
trace.*
