# Editors temp files
*~
.*.swp
.*.swo
*.autosave

# IDEs config files
*.cbp
*.user
*.config
*.creator
*.files
*.includes
*.cflags
*.cxxflags

# Build
fig
test
build
*_build/
*_bin/
bin_*/
qtbin*/
tests_bin*
CMakeFiles*
CMakeCache.txt
Makefile
cmake_install.cmake
doc.html

# Simulation/Cluster logs
*.out
*.err
*.log
trace.*
